
.socialLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #555;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: background-color 0.3s;
}
.socialLink:hover {
  background-color: #efb621;
}
.link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}
.linkContent {
  display: flex;
  align-items: center;
  margin: .75rem;
}
.titleContainer {
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}
.title {
  font-size: 1rem;
  padding-left: 0.5rem;
  letter-spacing: 1px;
}
.link:hover .titleContainer {
  width: var(--title-width);
}