.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarContainer {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  transition: all 0.3s cubic-bezier(0.5, 2, 0.5, 1);
}
.avatar:hover {
  transform: translateY(-1rem);
}
.name,
.oldName,
.description {
  font-family: 'lxgw';
  text-align: center;
}
.name {
  font-weight: 700;
  font-size: 2.5rem;
  color: #efb621;
  margin: 0 1rem 0.25rem 1rem;
  transition: color 0.3s;
}
.oldName {
  position: relative;
  height: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 1.5rem;
  text-align: center;
}
.oldName > :first-child,
.oldName > :last-child {
  transition: opacity 0.6s;
}
.oldName > :first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.oldName > :last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.oldName:hover > :first-child {
  opacity: 0;
}
.oldName:hover > :last-child {
  opacity: 1;
}
.description {
  letter-spacing: 1px;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 2rem;
}
.bold {
  position: relative;
  font-weight: 700;
  color: #efb621;
}
.bold:hover {
  cursor: pointer;
}
.bold::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #efb621;
  transition: width 0.3s;
}
.bold:hover::after {
  width: 100%;
}
.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  gap: 2rem;
  margin: 0 6rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5rem;
}
footer {
  position: fixed;
  bottom: 1.25rem;
  color: #666;
}
header {
  position: fixed;
  top: 2rem;
}
.notice {
  display: flex;
  align-items: center;
}
.notice > :first-child {
  position: relative;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: blink 2s infinite;
}
@keyframes blink {
  0% {
    background-color: #4ae235;
  }
  50% {
    background-color: #2f552a;
  }
  100% {
    background-color: #4ae235;
  }
}
.notice > :last-child {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 400;
  color: #eee;
}

